<a class="navbar--nav-link" href="{{@blog.url}}/archives-post">
  <span class="text">归档</span>
</a>
<a class="navbar--nav-link" href="{{@blog.url}}/friend-links">
  <span class="text">友链</span>
</a>
<a class="navbar--nav-link" href="{{@blog.url}}/guest-book">
  <span class="text">留言板</span>
</a>
<a class="navbar--nav-link" href="{{@blog.url}}/about">
  <span class="text">关于</span>
</a>
